
        .product{
            border: 1px solid #eaeaec;
            margin: -1px 19px 3px -1px;
            padding: 10px;
            text-align: center;
            background-color: #efefef;
        }
        table, th, tr{
            text-align: center;
        }
        }
        h2{
            text-align: center;
            color: blue;
            background-color: #efefef;
            padding: 2%;
        }
        table th{
            background-color: blue;
        }